$SubjectFontSize: 16px;
$ActionsFontSize: 19px;
$ActionsColor: #8B8B8B;
$ActionsColorHover: #ADADAD;
$Padding: 20px;

#EmailNav {
	display: flex;
	justify-content: flex-end;
	margin: 0;
	padding: $Padding 0;
}

.action {
	font-size: $ActionsFontSize;
	padding-right: 20px;
	color: $ActionsColor;
	cursor: pointer;
	margin: 0;
}

.action:hover {
	color: $ActionsColorHover;
}

#EmailNav > p:first-child {
	margin: 0;
	margin-right: auto;
	font-size: $SubjectFontSize;
	font-weight: bold;
	align-self: center;
}