$EmailListWidth: 320px;
$BorderColor: #B5B5B5;
$FontFamily: Helvetica, sans-serif;
$FontColor: #333333;

body {
	background: #F6F6F7;
	padding: 0;
	margin-top: 0;
	margin: 0;
	font-family: $FontFamily;
	color: $FontColor;
}

a {
	text-decoration: none;
}

pre {
	font-family: $FontFamily;
	color: $FontColor;
}

#Appcontainer {
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: flex-end;
	align-content: center;
}

#EmailListContainer {
	height: 100vh;
	width: $EmailListWidth;
	border-right: 1px solid $BorderColor;
}

#EmailDisplay {
	padding: 0 40px;
}
