$Width: 320px;
$Height: 80px;
$TextColor: #333333;
$ShortDescColor: #9B9B9B;
$SelectedBg: #F9F9F9;
$PaddingTop: 15px;
$MailBg: #F6F6F7;
$BorderColor: #B5B5B5;



.container {
	color: $TextColor;
	width: $Width;
	height: $Height;
	border-bottom: 1px solid $BorderColor;
	border-top: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
	background: white;
}

.innerContainer {
	padding: 15px;
}

.prevMessageTop {
	display: flex;
	justify-content: flex-end;
	margin: 0;
	padding: 0;
}

.innerContainer p {
	font-size: 12px;
	margin: 0;
	margin-bottom: 4px;
}


.innerContainer > .prevMessageTop > p:nth-child(1) {
	font-weight: bold;
	margin-right:auto;
}

.innerContainer > .prevMessageTop > p:nth-child(2) {
	font-size: 10px;
	color: $ShortDescColor;
}


.innerContainer > p:nth-child(3) {
	color: $ShortDescColor;
}


.readed {
	background: black;
}
